body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    width: 1000px;
    margin: auto;
}

.tytle{
    font-size: 30px;
    text-align: center;
    border-top: 3px rgb(212, 212, 212) solid;
    border-bottom: 3px rgb(212, 212, 212) solid;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    margin-bottom: 50px;
}
.element{
    display: flex;
    gap: 30px ;
    justify-content: center;
    border: 3px rgb(212, 212, 212) solid;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 211, 211);
    
    font-size: 20px;
    
    border-bottom: 7px rgb(205, 205, 205) double;
}
.Monndai{
    display: flex;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-top: none;
    font-size: 20px;
}

.element.Monndai {}
#question{
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.questions{
    border-bottom:2px rgb(186, 203, 201) solid ;
    height: 25px;
}
#judge{
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.judges{
    border-bottom:2px rgb(186, 203, 201) solid ;
    height: 25px;
    color: red;
}

#inputAnswer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 0;
    width: auto;
    flex: 1;
}
.InputAnsers{
    height: 25px;
    font-size: 15px;
}


.checks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.checks p{
    font-size: 20px;
    color: red;
}
.checkButton{
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(255, 176, 176);
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-radius: 10px;
    border: 3px rgb(255, 127, 127) dashed;
}
.nextButton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 5px rgb(209, 209, 209) dashed;
    padding: 10px;
    padding: 30px 0 60px 0;
}

.Qnum{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Qrange{
    display: flex;
    align-items: center;
    gap: 5px;
}

.reminderButton{
    display: flex;
    align-items: center;
    gap: 5px;
}


.selectNum{
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px rgb(177, 177, 177) solid;
}
.makeQbutton{
    font-size: 17px;
    margin-left: 10px;
    border: 2px rgb(177, 177, 177) dashed;
    color: rgb(128, 140, 138);
}
.button{
    opacity: 0.8; 
}
.button:hover{
    opacity: 1;
    border: solid;
}

.button:active{
    /* box-shadow: inset 8px 8px 5px rgb(255 134 134 / 57%), inset -5px -5px 2px rgb(229 131 131 / 57%); */
    /* background-color: rgb(255 176 176); */
    /* color: rgb(239, 239, 239); */
    font-size: 12px;
}
